<refentry id="pe-module">
<?dbhtml filename="pe-module.html"??>

<refmeta>
<indexterm><primary>Parameter Entities</primary>
<secondary><sgmltag class="paramentity">*.module</sgmltag></secondary></indexterm>
<refentrytitle><sgmltag class="paramentity">*.module</sgmltag> Parameter Entities</refentrytitle>
</refmeta>

<refnamediv>
<refname><sgmltag class="paramentity">*.module</sgmltag> Parameter Entities</refname>
<refpurpose>Control element definitions
</refpurpose>
</refnamediv>

<refsynopsisdiv><title>Synopsis</title>
<para>
The module parameter entities<indexterm><primary>Parameter Entities</primary>
<secondary>Modules</secondary>
</indexterm>
provide marked sections around a single pair of
element and attribute declarations.  You can selectively include or remove
elements from DocBook by changing these parameter entities.
</para>
</refsynopsisdiv>

<refsect1><title>Description</title>

<para>The following sections identify all of the module parameter entities
in DocBook.
</para>

&parament.module.gen;

</refsect1>

</refentry>
