/* CSS Stylesheet for _DocBook: The Definitive Guide_
 * Copyright © 2010, 2011 Norman Walsh.
 */
div.covergraphic div.mediaobject img {
  margin-right: 20px;
  border: solid black 1px; }

#backcover {
  position: relative;
  top: -40px;
  height: 0px;
  left: 380px; }

div.example-output {
  padding-left: 15px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 2px;
  border-color: #073642; }

.screen pre {
  background-color: #eee8d5;
  border: 1px #93a1a1 solid;
  border-radius: 3px; }

.programlisting pre {
  background-color: #eee8d5;
  border: 1px #93a1a1 solid;
  border-radius: 3px; }

.example-source pre {
  background-color: #eee8d5;
  border: 1px #93a1a1 solid;
  border-radius: 3px; }

p.publisher {
  text-align: center; }

ul.toc {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0.25em;
  margin-bottom: 0.25em; }

ul.toc
ul.toc {
  padding-left: 1.5em; }

a,
a:visited {
  color: #2aa198; }

ul.toc a,
ul.toc a:visited {
  text-decoration: none; }

div.component-title {
  text-align: right; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; }

h1.label {
  font-size: 150pt;
  font-weight: normal;
  font-family: sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px; }

div.component-title h1.title {
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 20px;
  font-size: 36pt; }

p.alpha-version {
  margin-top: 0px;
  padding-top: 0px; }

hr.component-separator {
  height: 1px; }

div.refentry div.titlepage {
  margin-left: 20px; }

div.refentry div.titlepage h1.title {
  margin-left: -20px;
  margin-bottom: 0px;
  font-size: 36pt; }

body {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fdf6e3; }

div.navheader {
  padding-top: 2px;
  background-color: #93a1a1;
  padding-right: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

div.navfooter {
  background-color: #93a1a1;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 2px; }

div.infofooter {
  background-color: #93a1a1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-top: solid 1px #aaaaaa;
  font-size: 80%; }

span.githash {
  font-size: 90%; }

div.copyrightfooter {
  background-color: #93a1a1;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px; }

div.copyrightfooter p {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 10pt; }

article {
  margin-left: 10px;
  margin-right: 10px; }

div.legalnotice {
  margin-left: 10px;
  margin-right: 10px; }

div.book {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px; }

thead {
  background-color: #073642;
  color: #93a1a1; }

th {
  font-weight: normal;
  text-align: left; }

/*
table,
tbody,thead,tfoot,
tr,td {
  border-color: $base1;
  border-width: 1px;
  border-style: solid;
}
*/
table {
  border: 1px #93a1a1 solid;
  border-collapse: collapse; }

th, td {
  border-right: 1px #93a1a1 solid;
  border-bottom: 1px #93a1a1 solid; }

div.informaltable {
  padding-bottom: 1em; }

.pattern {
  font-size: small; }

/* ======================================================================
   Annotations
*/
div.annotation-list {
  visibility: hidden; }

div.annotation-nocss {
  position: absolute;
  visibility: hidden; }

div.annotation-popup {
  position: absolute;
  z-index: 4;
  background-color: #fdf6e3;
  visibility: hidden;
  padding: 0px;
  margin: 2px;
  border: solid black 1px;
  width: 200px; }

div.annotation-title {
  padding: 1px;
  background-color: #93a1a1;
  font-weight: bold;
  border-bottom-color: #073642;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

div.annotation-body {
  padding: 2px; }

div.annotation-body p {
  margin-top: 0px;
  padding-top: 0px; }

div.annotation-close {
  position: absolute;
  top: 2px;
  right: 2px; }

div.caution {
  background: url(../figs/web/caution.gif) no-repeat;
  min-height: 80px;
  padding-left: 100px; }

div.caution h3 {
  display: none; }

div.tip {
  background: url(../figs/web/tip.gif) no-repeat;
  min-height: 80px;
  padding-left: 100px; }

div.tip h3 {
  display: none; }

div.note {
  background: url(../figs/web/note.gif) no-repeat;
  min-height: 80px;
  padding-left: 100px; }

div.note h3 {
  display: none; }

div.fu {
  border: 1px #dc322f solid;
  border-radius: 0.5em;
  min-height: 80px;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background-color: #eee8d5; }

div.fu h3 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #dc322f;
  font-style: italic;
  text-decoration: underline; }

/* ============================================================

The rules below place the footers at the bottom of the page.
They rely on this page structure:

body
  .page
    .content
      .body
    .footers
 ============================================================ */
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.page {
  height: 100%; }

.content {
  min-height: 100%; }

.body {
  overflow: auto;
  padding-bottom: 110px;
  padding-right: 2em; }

.footers {
  position: relative;
  background-color: #93a1a1;
  margin-top: -110px;
  /* negative value of footer height */
  height: 110px;
  bottom: 0px;
  clear: both; }
